<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div style="background-color:blue; color : white; height: 100px;">
        <h1>Login Page</h1>
        </div>
        <form action = "/login" method = "POST">
        <label>Username:</label><br>
        <input type="text" name = "name"><br>
        <label>Password</label><br>
        <input type="password" name = "password"><br><br>
        <input type="submit">
        </form>

    </body>
</html>