<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div class = "jumbotron">
        <div class = "container">
            <div class = "row">
                <nav class = "navbar navbar-expand-lg">
                    <div class ="navbar-brand">
                        <h1>Product Page</h1>
                    </div>
                </nav>
            </div>
            <br>

                <div class = "row">
                    <form action = "/upload" method ="POST">
                    <div class="form-group">
                        <label>Username:</label><br>
                        <input type="text" class="form-control" name="name"><br>
                        <label>Password:</label><br>
                        <input type="password" class="form-control" name="password"><br>
                       <input  type=submit class ="btn btn-success">
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>