<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div style="background-color:blue; color:white; height:100px;">
        <h1>Product </h1>
        </div>
        <form action = "/product" method="POST"  enctype="multipart/form-data">

        <label>Username:</label><br>
        <input type="text" name ="name"><br>
        <label>Price:</label><br>
        <input type="text" name ="price"><br>
        <label>Description:</label><br>
        <input type="text" name="desc"><br>
        <label>Picture:</label><br>
        <input type="file" name ="file"><br><br>
        <input type="Submit">
        <input type="Reset">
    </form>

    </body>
</html>