<form action="/update" method = "POST">
    <input type="text" value='<%=data['ename']%>' name = 'username'>
    <input type="hidden" value='<%=data['ename']%>' name = 'userId'>
    <input type="text" value='<%=data['epassword']%>' name = 'password'>
    <input type="submit" value='Update'>
</form>