<form action="http://localhost:4300/inserCust" name="userForm" method="POST" class="well form-search">
    <input type="text" name='uname'>
    <input type="email" name='email'>
    <input type="password" name='password'>
    <input type="text" name='message'>
    <button type="submit" class="btn">Submit</button>
</form>
